@model CartViewModel
@if (Model == null)
{
	<div>
		Cart is empty
	</div>
}
else
{
	<form method="post" class="shadow-lg col-10 offset-1">

		<div class="card-body bg-light my-4 mb-5" style="--bs-bg-opacity: .3;">
			
			   
			<div class="d-flex justify-content-between align-items-center pe-5">
				<h5 class="pt-2 text-dark ps-5 ">
					Shopping Cart
				</h5>
				<a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase btn-sm"><small>Continue Shopping</small></a>
			</div>
			<hr>
				<div class="row mb-3 pb-3 border-0">

				<div class="d-flex align-items-center flex-column border-0">

						@foreach (var item in Model.CartItems)
						{
						<div class="row justify-content-between bg-light my-2 w-50 rounded-3 shadow-sm py-3">
								<div class="col-md-3 my-2 rounded-circle">

									@if (item.ProductUrl != null)
									{
										<img src="@item.ProductUrl" class="rounded-circle" alt="@item.ProductName" style="width:5rem;height:5rem" >
									}
									else
									{
									<img src="https://lab29images.blob.core.windows.net/images/defaultImage.png" alt="@item.ProductName" class="rounded-circle" style="width:5rem;height:5rem"  />
									}
								</div>
								<div class="col-md-9 text-center my-auto">
									<div class="row align-items-center">
										<div class="me-4 col-6 ">
											<p>Brand</p>
											<h6 class="text-uppercase text-secondary fw-bold"><strong>@item.ProductName</strong></h6>
										</div>
										<div class="d-flex align-items-center justify-content-between col">
											@*<div class="ms-3 align-self-end">
												<p class="me-4 mb-2 text-center "><small>@Html.Raw(item.ProductName)</small></p>
											</div>*@
											<div class="text-muted">
												<p>Quantity</p>
												@item.Quantity
											</div>

											<div class="me-3">
												<p>Price</p>
												<h6 class="fw-semibold text-end mb-2 ">
													@item.ProductPrice.ToString("c")
													
												</h6>
											</div>
										</div>
										</div>
									
								</div>
							</div>

						}
					</div>
				</div>
			<div class="bg-white" style="--bs-bg-opacity: .3;">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<ul class="list-group mb-4">
								<li class="d-flex justify-content-between align-items-center">
									<h5 class="text-dark fw-semibold text-uppercase"> Total (USD)</h5>
									<h4 class="text-dark fw-bolder">@Model.OrderTotal.ToString("c")</h4>
								</li>
							</ul>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-center">
						<div>
						<a asp-action="Summary" class="btn btn-primary px-3  border-0 bg-gradient py-2">Summary</a>

						</div>
						
						
					</div>
				</div>
			</div>
	</form>
}